<header class="header">
    <h1 class="header__title">Rick & Morty <span class="title__accent">Wiki</span></h1>
    <div class="header__burger" (click)="pushMenu()">
        <div class="burger__bar" [ngClass]="{'menu-active': menuIsShown}"></div>
        <div class="burger__bar" [ngClass]="{'menu-active': menuIsShown}"></div>
        <div class="burger__bar" [ngClass]="{'menu-active': menuIsShown}"></div>
    </div>
</header>

<nav class="nav" *ngIf="menuIsShown">
    <ul class="nav__menu">
        <li class="menu__item" routerLinkActive="item-active">
            <a class="item__link" [routerLink]="['character']">Characters</a>
        </li>
        <li class="menu__item"  routerLinkActive="item-active">
            <a class="item__link" [routerLink]="['location']">Locations</a>
        </li>
        <li class="menu__item"  routerLinkActive="item-active">
            <a class="item__link" [routerLink]="['episodes']">Episodes</a>
        </li>
    </ul>
</nav>