.detail-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
}

.detail-card__image img {
    min-width: 100%;
}

.detail-card__resume {
    padding: 1rem 2rem;
}

.resume__title {
    margin: 0;
}

.resume__subtitle {
    font-weight: bold;
}

.go-back {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.go-back__button {
    background-color: var(--primary-color);
    color: var(--claire-color);
    padding: .8rem 1rem;
    text-decoration: none;
    font-family: var(--text-font);
    border-radius: .4rem;
}