.main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-card {
    max-width: 80%;
    margin-bottom: 2rem;
    font-family: var(--text-font);
    background-color: var(--primary-color);
    color: var(--claire-color);
    border-radius: .4rem;
    overflow: hidden;
}

.character-card__image-box {
    width: 100%;
    position: relative;
}

.image-box__status {
    font-size: 1rem;
    position: absolute;
    top: .4rem;
    right: .4rem;
    padding: .4rem .8rem;
    border-radius: .4rem;
}

.Alive {
    background-color: green;
}

.Dead {
    background-color: red;
}

.unknown {
    background-color: black;
}

.image-box__image {
    max-width: 100%;
}

.character-card__name {
    margin: 0;
    padding: 1rem 1.2rem;
    font-size: 1.8rem;
}

.character-card__last-location {
    padding: 1rem 1.2rem;
}

.last-location__title {
    margin: 0;
}

.last-location__name {
    margin: 0;
    font-size: 1.6rem;
}
